<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/server.css">
        <title>Disboard - Dashboard</title>
        <base href="/">
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="server-container">
            <div id="server-top">
                
            </div>
            <div id="server-content">
                <div id="server-left">
                    <img src="<%- serverData.icon ? `https://cdn.discordapp.com/icons/${serverData.serverId}/${serverData.icon}` : "images/discord-icon-unknown.svg" %>" id="server-icon">
                    <div id="server-category">
                        <%= serverData.category %>
                    </div>
                    <div id="members-container">
                        <span id="members-identifier"><%= serverData.members %></span>
                        <span id="members-label">MEMBERS</span>
                    </div>
                    <div id="online-members-container">
                        <span id="online-members-identifier"><%= serverData.onlineMembers %></span>
                        <span id="online-members-label">ONLINE</span>
                    </div>
                    <div id="boosts-container">
                        <span id="boosts-identifier">0</span>
                        <span id="boosts-label">BOOSTS</span>
                    </div>
                </div>
                <div id="server-right">
                    <a id="server-name" href="<%- serverData.invite %>">
                        <span><%= serverData.guildName %></span>
                        <img src="icons/join-server.svg">
                    </a>
                    <p id="server-short-description">
                        <%= serverData.shortDescription %>
                    </p>
                    <div id="server-tags">
                        <% for(let i = 0; i != serverData.tags.length; i++) { %>
                            <div class="tag">
                                #<%= serverData.tags[i] %>
                            </div>
                        <% } %>
                    </div>
                    <p id="server-description">
                        <%= serverData.description %>
                    </p>
                    <p id="server-creation-date">Server created <%- convertTimeFromMS(Date.now() - serverData.guildCreatedAt) %> ago...</p>
                </div>
            </div>
        </div>
        <div id="review-container">
            <div id="review-left">
                <div class="stars" id="stars-average-rating">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <p id="reviews-summary-label">No reviews yet.</p>
                <div class="stars-chart-container">
                    <span>5</span>
                    <div class="chart rating-summary-chart"></div>
                </div>
                <div class="stars-chart-container">
                    <span>4</span>
                    <div class="chart rating-summary-chart"></div>
                </div>
                <div class="stars-chart-container">
                    <span>3</span>
                    <div class="chart rating-summary-chart"></div>
                </div>
                <div class="stars-chart-container">
                    <span>2</span>
                    <div class="chart rating-summary-chart"></div>
                </div>
                <div class="stars-chart-container">
                    <span>1</span>
                    <div class="chart rating-summary-chart"></div>
                </div>

            </div>
                <% if(loggedIn) { %>
                    <div id="review-right">
                        <div id="review-profile">
                            <img
                                src="<%- `https://cdn.discordapp.com/avatars/${userData.id}/${userData.avatar}` %>"
                                class="image"
                                ondragstart="return false"
                            >
                            <p><%- userData.username %></p>
                        </div>
                        <div class="stars" id="stars-create-review">
                            <div class="star empty" data-star="1"></div>
                            <div class="star empty" data-star="2"></div>
                            <div class="star empty" data-star="3"></div>
                            <div class="star empty" data-star="4"></div>
                            <div class="star empty" data-star="5"></div>
                        </div>
                        <textarea id="review-textarea" placeholder="Your review for this server"></textarea>
                        <div id="send-review-button-container">
                            <button id="send-review-button">
                                <p>Send</p>
                                <img src="icons/right.svg">
                            </button>
                        </div>
                    </div>
                <% } else { %>
                    <div id="review-right-not-logged-in">
                        <p class="not-logged-in">
                            You need to be logged in to leave reviews!
                            <a href="/auth">Join DISDEX</a>
                        </p>
                    </div>
                <% } %>
            </div>
        </div>
        <div id="toast">
            Lol!!! this is really funny i think
        </div>
    </body>
    <div id="popup-background">

    </div>
    <div id="reviews-popup">
        <div id="reviews-header">
            <span id="reviews-for-label">Reviews for:</span>
            <span id="reviews-for-data"><%- serverData.guildName %></span>
            <div id="reviews-close-button-container">
                <img id="reviews-close-button" src="icons/x-white.svg">
            </div>
        </div>
        <div id="reviews-content">
            <div id="reviews-controls">
                <better-dropdown id="stars-dropdown" width="780px" options="All,5 stars,4 stars,3 stars,2 stars,1 star"></better-dropdown>
            </div>
            <div id="reviews-container">
                
            </div>
        </div>
    </div>
    <%- include("partials/notLoggedIn") %>
    <script src="util/betterDropdown/betterDropdown.js"></script>
    <script src="util/util.js"></script>
    <script>
        let serverData = <%- JSON.stringify(serverData) %>
        let loggedIn = <%- loggedIn %>
        <% if(loggedIn) { %>
            let userData = <%- JSON.stringify(userData) %>
        <% } %>
    </script>
    <script src="scripts/server.js"></script>
</html>