<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/server.css">
        <title>Disboard - Dashboard</title>
        <base href="/">
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="server-container">
            <div id="server-top">
                
            </div>
            <div id="server-content">
                <div id="server-left">
                    <img src="<%- serverData.icon ? `https://cdn.discordapp.com/icons/${serverData.serverId}/${serverData.icon}` : "images/discord-icon-unknown.svg" %>" id="server-icon">
                    <div id="server-category">
                        <%= serverData.category %>
                    </div>
                    <div id="members-container">
                        <span id="members-identifier"><%= serverData.members %></span>
                        <span id="members-label">MEMBERS</span>
                    </div>
                    <div id="online-members-container">
                        <span id="online-members-identifier"><%= serverData.onlineMembers %></span>
                        <span id="online-members-label">ONLINE</span>
                    </div>
                    <div id="boosts-container">
                        <span id="boosts-identifier">0</span>
                        <span id="boosts-label">BOOSTS</span>
                    </div>
                </div>
                <div id="server-right">
                    <a id="server-name" href="<%- serverData.invite %>">
                        <span><%= serverData.guildName %></span>
                        <img src="icons/join-server.svg">
                    </a>
                    <p id="server-short-description">
                        <%= serverData.shortDescription %>
                    </p>
                    <div id="server-tags">
                        <% for(let i = 0; i != serverData.tags.length; i++) { %>
                            <div class="tag">
                                #<%= serverData.tags[i] %>
                            </div>
                        <% } %>
                    </div>
                    <p id="server-description">
                        <%= serverData.description %>
                    </p>
                    <p id="server-creation-date">Server created <%- convertTimeFromMS(Date.now() - serverData.guildCreatedAt) %> ago...</p>
                </div>
            </div>
        </div>
    </body>
</html>