<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/stats.css">
        <title>Stats | Disdex</title>
        <base href="/">
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="main-content">
            <h2>Showing statistics for <span class="special"><%- serverData.guildName %></span></h2>
            <div id="top-charts-container">
                <div id="page-search-views-chart-container" class="chart-container">
                    <div class="header">
                        <div class="header-element default" id="page-search-views-header-element">
                            <div class="box">

                            </div>
                            <div class="label">
                                Page search views
                            </div>
                        </div>
                    </div>
                    <div class="inner-chart-container">
                        <canvas id="page-search-views-chart"></canvas>
                    </div>
                </div>
                <div id="join-button-clicks-chart-container" class="chart-container">
                    <div class="header">
                        <div class="header-element default" id="join-button-clicks-header-element">
                            <div class="box">

                            </div>
                            <div class="label">
                                Join button clicks
                            </div>
                        </div>
                    </div>
                    <div class="inner-chart-container">
                        <canvas id="join-button-clicks-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="totals">
                <div class="left">
                    <span class="special" id="page-search-views-total"><%- serverData.pageSearchViews %></span>
                    searches for your server
                </div>
                <div class="right">
                    <span class="special" id="join-button-clicks-total"><%- serverData.joinClicks %></span>
                    joins from Disdex
                </div>
            </div>
            <div id="bottom-charts-container">
                <div id="messages-chart-container" class="chart-container">
                    <div class="header">
                        <div class="header-element default" id="daily-messages-header-element">
                            <div class="box">

                            </div>
                            <div class="label">
                                Daily messages
                            </div>
                        </div>
                    </div>
                    <div class="inner-chart-container">
                        <canvas id="messages-chart"></canvas>
                    </div>
                </div>
                <div id="joins-leaves-chart-container" class="chart-container">
                    <div class="header">
                        <div class="header-element joins" id="joins-header-element">
                            <div class="box">

                            </div>
                            <div class="label">
                                Joins
                            </div>
                        </div>
                        <div class="header-element leaves" id="leaves-header-element">
                            <div class="box">

                            </div>
                            <div class="label">
                                Leaves
                            </div>
                        </div>
                    </div>
                    <div class="inner-chart-container">
                        <canvas id="joins-leaves-chart"></canvas>
                    </div>
                </div>
                <div id="members-chart-container" class="chart-container">
                    <div class="header">
                        <div class="header-element default" id="members-header-element">
                            <div class="box">

                            </div>
                            <div class="label">
                                Members
                            </div>
                        </div>
                    </div>
                    <div class="inner-chart-container">
                        <canvas id="members-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- <canvas class="statistic" id="messages-chart"></canvas> -->
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        serverData = <%- JSON.stringify(serverData) %>
    </script>
    <script src="util/util.js"></script>
    <script src="scripts/stats.js"></script>
</html>